{
  "root": true,
  "extends": [
    "@whoj"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "new-cap": "off",
    "no-throw-literal": "off",
    "@typescript-eslint/no-this-alias": "off"
  }
}
